body {
    margin: 0;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 10px 0;
    justify-content: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    mix-blend-mode: difference;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: space-between;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    mix-blend-mode: difference;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: 25%;
}
.right-side {
    align-items: flex-end;
}
button {
    background-color: #3882F6;
    max-width: 100px;
    border-radius: 10px;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}